<div class="blog">
<section class="blog-section">
    <div class="blog-left">
      <img src="assets/images/rek1.jpg" alt="Big Image">
      <p class="image-text">Large Image Text</p>
    </div>
    <div class="blog-right">
      <div class="blog-item">
        <img src="assets/images/rek2.jpg" alt="Small Image 1">
        <p class="item-text">Item 1 Text</p>
      </div>
      <div class="blog-item">
        <img src="assets/images/rek3.jpg" alt="Small Image 2">
        <p class="item-text">Item 2 Text</p>
      </div>
      <div class="blog-item">
        <img src="assets/images/rek5.jpg" alt="Small Image 3">
        <p class="item-text">Item 3 Text</p>
      </div>
    </div>
  </section>

</div>
  