<div class="blog">
  <section class="blog-section" *ngIf="(topProducts$ | async) as topProducts">
    <div class="blog-left">
      <img [src]="topProducts.homeDescription.imageContent" alt="Big Image">
      <p class="image-text">{{ topProducts.homeDescription.text }}</p>
    </div>
    <div class="blog-right">
      <div class="blog-item" *ngFor="let pizzaType of topProducts.pizzaTypes">
        <img [src]="pizzaType.imageContent" alt="{{ pizzaType.name }} Image">
        <p class="item-text">{{ pizzaType.name }}</p>
      </div>
    </div>
  </section>
</div>