.our-recipes {
    text-align: center;
    margin: 0px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 0px; /* Reduce the margin */
    color: #333;
  }
  
  mat-card {
    width: 80%; /* Adjust the card width */
   /*  margin: 8px; Reduce the margin between cards */
  }
  
  mat-card-content {
    text-align: center;
    padding: 0px; /* Add padding to the card content */
  }
  
  p {
    font-size: 14px; /* Increase the font size */
    color: #555;
  }
  