
<mat-toolbar color="primary" class="mat-elevation-z8" >


    <mat-toolbar-row class="toolbar-row1">
        <button (click)="triggerParentFunction()" mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <span>Material UI Tutorial</span>
    
        <div *ngIf="(headerDropdowns$ | async) as headerDropdowns" style="display: flex; padding-left: 2%;">
          <div class="btn-group me-3" *ngFor="let dd of headerDropdowns">
            <div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
              <button type="button" class="btn btn-light" ngbDropdownToggle>
                <i class="fa fa-list"></i> {{ dd.dropdownName }}
              </button>
              <div class="dropdown-menu" ngbDropdownMenu>
                <button ngbDropdownItem *ngFor="let dropItem of dd.dropItem_ResponseDTOs" class="dropdown-item d-flex align-items-center py-2">
                  {{ dropItem.dropItemName }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <span class="example-spacer"></span>
  
      
  
   
          <div *ngIf="(authData$ | async) as authData; else showLogin">
            <div style="display: flex; align-items: center;">
              <p style="margin-right: 10px;">Hello, {{ authData.username }}</p>
              <button (click)="logOut()">LogOut</button>
            </div>
          </div>
          <ng-template #showLogin>
            <button (click)="login()">Login</button>
          </ng-template>
    
    
    
        </mat-toolbar-row>
    
    
    
        <mat-toolbar-row class="toolbarRow" [class.expanded]="isExpanded">
            <button mat-button (click)="triggerParent.emit()">Toggle Toolbar and Overlay</button>
            <button mat-button (click)="toggleExpansion()">Toggle Expansion</button>
          </mat-toolbar-row>
    
    </mat-toolbar>
    
    
    
    
    
    
    