
<mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="start" class="drawer">
    <mat-nav-list>
        <mat-nav-list>
            <mat-nav-list>
                <ng-container *ngFor="let dropdown of headerDropdowns$ | async">
                  <ng-container *ngIf="dropdown.dropItem_ResponseDTOs && dropdown.dropItem_ResponseDTOs.length > 0; else parentMenu">
                    <!-- Parent menu with expansion panel -->
                    <mat-expansion-panel>
                      <mat-expansion-panel-header>
                        <mat-icon>{{ dropdown.dropdownImage }}</mat-icon> {{ dropdown.dropdownName }}
                      </mat-expansion-panel-header>
                      <mat-nav-list>
                        <!-- Child menu with dropdown items -->
                        <mat-list-item *ngFor="let dropItem of dropdown.dropItem_ResponseDTOs">
                          <button mat-button>{{ dropItem.dropItemName }}</button>
                        </mat-list-item>
                      </mat-nav-list>
                    </mat-expansion-panel>
                  </ng-container>
              
                  <!-- Parent menu without expansion panel -->
                  <ng-template #parentMenu>
                    <mat-list-item>
                      <button mat-button>
                        <mat-icon>{{ dropdown.dropdownImage }}</mat-icon> {{ dropdown.dropdownName }}
                      </button>
                    </mat-list-item>
                  </ng-template>
                </ng-container>
              </mat-nav-list>
          </mat-nav-list>
    </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
        <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "timer" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

        <div style="text-align: center;min-height: 600px;">

            <router-outlet></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>



