<div class="our-recipes">
  <h2>Our Recipes</h2>
  <mat-grid-list cols="3" rowHeight="1:1" gutterSize="0px">
    <ng-container *ngFor="let item of (pizza$ | async); let i = index">
      <!-- Display only the first 3 items from pizza$ -->
      <ng-container *ngIf="i < 3">
        <mat-grid-tile>
          <mat-card>
            <img mat-card-image [src]="item.imageContent || 'assets/images/pizza.jpg'" alt="Pizza Recipe {{i + 1}}">
            <mat-card-content>
              <p>{{ item.name }}</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </ng-container>
    </ng-container>
    <ng-container *ngFor="let item of (paste$ | async); let i = index">
      <!-- Display only the first 3 items from pasta$ -->
      <ng-container *ngIf="i < 3">
        <mat-grid-tile>
          <mat-card>
            <img mat-card-image [src]="item.imageContent || 'assets/images/pasta.jpg'" alt="Pasta Recipe {{i + 1}}">
            <mat-card-content>
              <p>{{ item.name }}</p>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
      </ng-container>
    </ng-container>
  </mat-grid-list>
</div>
